<%# <% if @post.errors.any? %> %>
  <%# <div class="alert alert-danger" role="alert"> %>
    <%# Hubo errores al crear el post %>
  <%# </div> %>
<%# <% end %> %>

<%= form_tag '/posts', method: 'post' do %>
  <%= label_tag :title %>
  <br/>
  <%= text_field_tag :title, autofocus: true %>
  <br/>
  <br/>
  <%= label_tag :content %>
  <br/>
  <%= text_area_tag :content %>
  <br/>
  <br/>
  <%# <%= post.errors[:category_id].join(', ') %> %>
  <br/>
  <%= submit_tag 'Submit', class: 'submit' %>
<% end %>
